{% extends 'base.html.twig' %}

{% block page_title %}Willkommen auf der Startseite.{% endblock %}
{% block page_description %}Die Startseite dient als Website-Hub und als Einstiegspunkt{% endblock %}


{% block body %}{% endblock %}

{% block footer %}<h3>FOOTER BLOCK 2</h3>{% endblock %}
