{% extends 'base.html.twig' %}

{% block page_title %}The Calculator{% endblock %}

{% block heroBrand %}Calculate.{% endblock %}
{% block heroTagline %}Want to know{% endblock %}
{% block heroTaglineBig %}the price?{% endblock %}
{% block heroHeadline %}Calculate your needs{% endblock %}
{% block heroDots %}{% endblock %}

{% block body %}
    <div class="calculator" data-calculator>
        <h3 class="calculator-headline">Wählen Sie ein Produkt</h3>
        <div class="calculator-row">
        </div>
    </div>
{% endblock %}
