$black: #010D1E;
$white: #fff;
$blue: #3B5E82;
$light-green: #91D2AD;

$font-family: 'Manrope', sans-serif;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;



