@import 'variables';
@import 'fonts';

@import 'components/hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #{$black};
    --white: #{$white};
    --blue: #{$blue};
    --light-green: #{$light-green};
    --mo-font-family: #{$font-family};
}

body {
    font-family: var(--mo-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-medium;
}

